NODE_ENV=local
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
BACKEND_URL=http://192.168.1.11:5001
FRONTEND_URL=http://192.168.1.11:8081
MONGO_URI=mongodb://127.0.0.1:27017/drinaluza